dl {
  overflow: hidden;
  width: 80%;
  margin: auto;
  padding-bottom: 50px;
}
dt, dd {
  display: inline-block;
  vertical-align: middle;
  width: 45%;
  margin-bottom: 10px;
  background: lavender;
  font-size: medium;
  padding: 3px;
}
